.synopsis {
    cursor: pointer;
    transition: all .4s ease-in-out;
    background: linear-gradient(to right, #A855F7 40%, #27AE36 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.synopsis:hover{
    transform: skew(3deg);
}

