.anime_list {
    width: 100%;
    background-color: grey;
    padding: 40px 25px;
}

.anime_list h2 {
    text-align: start;
    margin-bottom: 20px;
    color: gold;
}

.anime_list_container {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.anime_images {
    display: flex;
    overflow-x: auto; 
    overflow-y: hidden;
    padding-bottom: 10px; 
    padding: 5px;
    /* height: 300px; */
    gap: 10px;
}

.anime_images > div{
    width: 25%;
}

.anime_images::-webkit-scrollbar {
    height: 10px; 
}

.anime_images::-webkit-scrollbar-track {
    background-color: pink; 
    border-radius: 10px;
}

.anime_images::-webkit-scrollbar-thumb {
    background-color: darkred; 
    border-radius: 10px; 
}

.anime_list_container button{
    position: absolute;
    padding: 10px;
    border-radius: 50%;
    outline: none;
    border: none;
}

.anime_list_container button:hover{
    opacity: 0.7;
}

.anime_list_container button:first-child{
    left: 0;
    transform: translateX(-50%);
}

.anime_list_container button:last-child{
    right: 0;
    transform: translateX(50%);
}

@media only screen and (max-width: 1200px) {
    .anime_images {
        padding-bottom: 10px; 
        padding: 5px;
        height: 400px;
        gap: 10px;
    }
  }


  /* Responsive */
  @media only screen and (max-width: 1200px) {
    .anime_images {
        padding-bottom: 10px; 
        padding: 5px;
        height: 400px;
        gap: 10px;
    }
  }

  @media only screen and (max-width: 650px) {
    .anime_images {
        padding-bottom: 10px; 
        padding: 5px;
        height: 550px;
        gap: 10px;
    }

    .anime_images::-webkit-scrollbar {
        display: none;
    }
  }