.img_container{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    aspect-ratio: 9 / 14;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5%;
}



.dialog_synopsis {
    /* background-color: red; */
}

.dialog_synopsis::-webkit-scrollbar {
    width: 1vw;
}

/* Track */
.dialog_synopsis::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

/* Handle */
.dialog_synopsis::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* Handle on hover */
.dialog_synopsis::-webkit-scrollbar-thumb:hover {
    background: #555;
}