.img_container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    aspect-ratio: 9 / 14;
    position: relative;
}

.dialog_synopsis {
    
}

.dialog_synopsis::-webkit-scrollbar {
    width: 1vw;
}

/* Track */
.dialog_synopsis::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

/* Handle */
.dialog_synopsis::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* Handle on hover */
.dialog_synopsis::-webkit-scrollbar-thumb:hover {
    background: #555;
}
