.dialog_synopsis {
    /* background-color: red; */
}

.dialog_synopsis::-webkit-scrollbar {
    width: 2vw;
}

/* Track */
.dialog_synopsis::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

/* Handle */
.dialog_synopsis::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* Handle on hover */
.dialog_synopsis::-webkit-scrollbar-thumb:hover {
    background: #555;
}